<div class="container mt-5">
    <div class="">
        <div class="col col-md-6 col-lg-6 offset-3">
            <div class="img">
                <img src="../../../assets/notfound.svg" id="notfound" class="w-100">
            </div>
            <div class="txt">
                <p class="display-3 offset-1 mt-2" id="txt-notfound">Page Not Found</p>
                <button class="btn btn-warning offset-5 mt-2" routerLink="/">Go To Home</button>
            </div>
        </div>
    </div>
</div>