<div class="container">
    <h2 class="display-3 offset-5">Login</h2>
    <form action="">
        <input type="email" name="email" class="form-control mt-3" placeholder="Enter Your Address Email" required email>
        <input type="password" name="password" class="form-control mt-3" placeholder="Enter Your Password" required minlength="6">
        <button class="btn btn-primary mt-3 offset-4 w-25" type="submit">Create Account</button>
    </form>

    <div class="alert alert-warning mt-5" role="alert">
        <p class="display-7 offset-4">Don't Have Account ? <a routerLink="/signup">Create Account</a></p>
    </div>

</div>